# Rename this file to .env and fill with your own values
SECRET_KEY=supersecretkey
MONGO_URI=mongodb://localhost:27017/capture_moments
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_S3_BUCKET=your_bucket_name
AWS_REGION=us-east-1
# Optional for email
AWS_SES_SOURCE_EMAIL=no-reply@yourdomain.com
AWS_SES_REGION=us-east-1
